.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btn{
    padding: 5px 8px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid #f7e1e1;
    margin: 2px;
    border-radius: 7px;
    cursor: pointer;
}
.login{
    display: flex;
    align-items: center;
    margin: 0px 50px 0px 70px;
    
}
 .my-1{
    margin: 5px 0px; 
}
.my-2{
    margin: 13px 0;
}
.text-center{
    text-align: center;
}
